@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Tektur&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'San Francisco';
  src: url('/fonts/SF-Pro-Display-Regular.otf');
  font-display: swap;
}

* {
  font-family: 'San Francisco', 'Open Sans', sans-serif;
  scroll-padding-top: 5rem;
}

body {
  background-color: #080808;
  user-select: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #555555;
}
