@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Tektur&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'San Francisco';
    src: url('/fonts/SF-Pro-Display-Regular.otf');
    font-display: swap;
}

* {
    font-family: 'San Francisco', 'Open Sans', sans-serif;
    scroll-padding-top: 5rem;
}

body {
    background-color: #080808;
    user-select: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #080808;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #404040;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #525252;
}
