@import url('https://fonts.googleapis.com/css2?family=Inter&family=Tektur&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #242f40;
  font-family: 'Inter', sans-serif;
  background-color: #e5e5e5;
}
