@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Tektur&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'San Francisco';
	src: url('../assets/fonts/SF-Pro-Display-Regular.otf');
	font-display: swap;
}

* {
	font-family: 'San Francisco', 'Open Sans', sans-serif;
	scroll-padding-top: 2rem;
}

body {
	background-color: #080808;
}
